<!DOCTYPE idea-plugin
  PUBLIC
    "Plugin/DTD"
    "http://plugins.intellij.net/plugin.dtd"
>
<idea-plugin xmlns:xi="http://www.w3.org/2001/XInclude">
  <id>jebrains.mps.ide.mps</id>
  <name>MPS IDE</name>
  <description>MPS IDE core plug-in</description>
  <version>2.0</version>
  <vendor url="http://www.jetbrains.com/mps/">JetBrains</vendor>
  <idea-version since-build="3000"></idea-version>
    
    
  <application-components>
    <component>
      <implementation-class>jetbrains.mps.ide.mps.plugin.Mps_PluginInitializer</implementation-class>
    </component>
  </application-components>
    
</idea-plugin>
